<p>Reactive-form: User</p>
<div>Form Data: {{ userRForm.value | json}}</div>
<div>From Service: {{ userData | json}}</div>
<form [formGroup]="userRForm" (ngSubmit)="saveForm()">
    <div class="form-control">
        <!-- <div class="form-floating mb-3">
            <input type="text" id="name" class="form-control" formControlName="name" placeholder="John Doe" />
            <label for="name">Name:</label>
        </div> -->
        
        <label for="name">Name:</label>
        <input type="text" id="name" class="form-control" formControlName="name" placeholder="John Doe" />
        
    <!-- </div>

    <div class="form-control"> -->               
        <label for="username">Username:</label> <!--is-invalid-->
        <input type="text" id="username" class="form-control" formControlName="username" placeholder="user.name"/>
        <div style="color: brown;" *ngIf="userRForm.get('username')?.errors?.['unameInValid']">Wrong user name</div>
        <!-- <div>{{userRForm.get('username')?.errors | json}}</div> -->

    <!-- </div>
        
    <div class="form-control"> -->
        <label for="email">Email:</label>
        <input type="text" id="email" formControlName="email" placeholder="user@some.com" />
    <!-- </div>
    <div class="form-control"> -->
        <label for="phone">Phone:</label>
        <input type="text" id="phone" formControlName="phone" placeholder="+123 45 67" />
    </div>
    <div class="accordion" id="accordionExample" formGroupName="address">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Address
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <label for="city">City:</label>
                <input type="text" id="city" formControlName="city" class="form-control" placeholder="Kyiv" />
                <label for="street">Street:</label>
                <input type="text" id="street" formControlName="street" class="form-control" placeholder="Main street" />
                <label for="suite">Suite:</label>
                <input type="text" id="suite" formControlName="suite" class="form-control" placeholder="Main suite" />
            </div>
          </div>
        </div>
    </div>
    <div>
        <button [ngClass]="" class="btn btn-primary" type="submit">Save</button>
    </div>
</form>